# .config/swayidle/config
# generated config, see swayidle/config.tmpl in chezmoi
# template supports freebsd + linux (multiple distros)

{{- if eq .chezmoi.hostname "elron" }}
# desktop
timeout 1200 'swaylock -f -c 000000'
timeout 1500 'wlopm --off DP-1 --off DP-2' resume 'wlopm --on DP-1 --on DP-2'
# not configuring S3 suspend for always-on-elron
{{- else if eq .chezmoi.hostname "hoppy" "lapin" }}
# laptops
timeout 300 'swaylock -f -c 000000'
timeout 360 'wlopm --off eDP-1' resume 'wlopm --on eDP-1'
before-sleep 'swaylock -f -c 000000'
{{- else }}
# unknown machine - update template
timeout 300 'swaylock -f -c 000000'
{{- end }}

{{- if eq .chezmoi.os "freebsd" }}
# Note: S3 not available on Dell Latitude 7420 and FreeBSD currently doesn't support S0/S4.
# timeout 420 'acpiconf -s 3' resume 'wlopm --on eDP-1'
{{- else if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "chimera" "void" }}
timeout 420 'loginctl suspend' resume 'wlopm --on eDP-1'
{{-   else if eq .chezmoi.osRelease.id "arch" "opensuse-tumbleweed" }}
timeout 420 'systemctl suspend' resume 'wlopm --on eDP-1'
{{-   end }}
{{- end }}

