#!/usr/bin/sh
# Managed within chezmoi https://github.com/mwyvr/dotfiles

alias la='ls -la --color=auto' 2>/dev/null
alias ll='ls -l --color=auto' 2>/dev/null
alias l.='ls -d .* --color=auto' 2>/dev/null
alias ls='ls --color=auto' 2>/dev/null
# dotfiles management
alias cm=chezmoi
# editor
alias vi=nvim
# git
alias gs="git status"
alias gc="git commit"
alias gu="git pull" # "think git update local"
alias gp="git push"
alias forkup="git pull --rebase upstream master"
# processes
alias pst="ps -o pid,ppid,stat,user,comm -AH"
# system updates
{{- if eq .chezmoi.osRelease.id "chimera" }}
alias update="doas apk update && doas apk upgrade"
alias make="cmake"
{{ end }}
{{- if eq .chezmoi.osRelease.id "void" }}
alias update="sudo xbps-install -Su"
{{ end }}
{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" "opensuse-aeon" }}
alias update="sudo zypper dup"
{{ end }}
