#!/usr/bin/sh
# Managed within chezmoi https://github.com/mwyvr/dotfiles
#
# Note:
# ~/.profile is read by login shells after /etc/profile,
# and should contain commands to be executed only at login time.
# This file is sourced by sh/dash and bash shells.

{{ if eq .chezmoi.os "darwin" }}

{{ else if eq .chezmoi.os "linux" }}
# Set our shell rc file for interactive shells:
ENV=$HOME/.shrc; export ENV

if [ "$(id -u)" -ne 0 ]; then
	mkdir -p $HOME/go/bin $HOME/.local/bin
	PATH="$PATH:$HOME/go/bin:$HOME/.local/bin"; export PATH
	# source any private environment vars
	if [ -f "$HOME/.env" ]; then
		. $HOME/.env
	fi
fi
	{{-   if eq .chezmoi.osRelease.id "chimera" }}
	{{- else if eq .chezmoi.osRelease.id "void" }}
# wlr-roots
export XKB_DEFAULT_OPTIONS=ctrl:nocaps
	# per-user dbus setup as runit service
# TODO: CLEANUP
export LIBVIRT_DEFAULT_URI="qemu:///system"
# export MOZ_ENABLE_WAYLAND=1
# ADW_DISABLE_PORTAL=1
# export ADW_DISABLE_PORTAL
	{{- end }}
{{- end }}
