#!/usr/bin/sh

. $HOME/.alias

{{ if eq .chezmoi.os "darwin" }}
	# unlikely for me
{{ else if eq .chezmoi.os "linux" }}
	if [ "$(id -u)" -ne 0 ]; then
		PS1='[\[\e[32m\]\u@\h \w\[\e[0m\]]\$ '
	else
		#root
		PS1='[\[\e[31m\]\u@\h \w\[\e[0m\]]# '
	fi
{{ end }}

