[Desktop Entry]
Type=Application
Version=1.0
Name=IRC
GenericName=IRC
Comment=tmux IRC session
Icon=irssi
Exec=$TERM -m -e ssh wabbit -t tmux attach
Terminal=true
Categories=ConsoleOnly;
Keywords=irc;
