[Desktop Entry]
Type=Application
Name=Winbox
GenericName=Winbox
Comment=Manage Mikrotik routers
Icon=org.gnome.DiskUtility
Exec=winbox
Categories=System;Network;
Keywords=winbox;router;
StartupNotify=true
