* {
  border: none;
  border-radius: 0;
  font-family: "Roboto", "FontAwesome 6 Free";
  font-size: 15px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  /* outline-brighter */
  color: #a9abb4;
  /* surface-container  #1d2024; */
  background-color: rgba(29, 32, 36, 1.0);
  /* surface-container-low, #191c20; */
  border-bottom: 2px solid rgba(25, 28, 32, 1.0);
}

window#waybar.solo {
  color: rgba(53, 185, 171, 1);
}

#tags {
  margin: 0 5px;
  padding: 0 0;
}

#custom-scratchpad {
  margin: 0px 5px;
  padding: 0px 5px;
}

#tags button {
  padding: 0 10px;
  color: #5b5e66;
}

#tags button.occupied {
  color: #c4c6d0;
}

#tags button.focused {
  color: #ffb4ab;
}

#tags button:hover {
  font-weight: bold;
}

#tags button.focused:hover {
  color: #ffffee;
}

#workspaces button.visible {
  color: rgba(115, 186, 37, 1);
}

#workspaces button.urgent {
  color: rgba(33, 164, 223, 1);
}

#mode,
#battery,
#clock,
#custom-clock,
#cpu,
#custom-zypper,
#memory,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#temperature,
#custom-layout,
#custom-notification,
#backlight {
  margin: 0px 6px 0px 10px;
}

#battery.good {
  /* green-60; hits 80% mark, can unplug */
  color: #7d9a59;
}

#battery.warning {
  /* Yellow-80(yellow primary) */
  color: #DBC66E;
}

#battery.critical {
  /* E-60*/
  color: #ff5449;
}

#battery.charging {
  /* blue-60 */
  color: #7491c7;
}

#bluetooth.disabled {
  color: rgba(128, 128, 128, 1);
}

#bluetooth.off {
  color: rgba(128, 128, 128, 1);
}

#bluetooth.connected {
  color: rgba(115, 186, 37, 1);
}