[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Chromium with Flags
Comment=Google web browser based on WebKit
Icon=chrome
# Nov 2024 - best performance still is via XWayland (on FreeBSD)
Exec= /usr/local/share/chromium/chrome %U --enable-features=Vulkan,VulkanFromANGLE,DefaultANGLEVulkan --ozone-platform=x11
# Exec=chrome %U
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
