[cursor]
style = "Block"
{{- if ne .chezmoi.os "darwin"}}
	# linux and freebsd
	[window]
	dynamic_title = true
	opacity = 0.95
	[font]
	normal = {family = "RobotoMono Nerd Font", style= "Regular"}
	size = 12
{{- else}}
	# macOS
	[window]
	dynamic_title = true
	opacity = 0.90
	[font]
	normal = {family = "RobotoMono Nerd Font", style= "Regular"}
	italic = {style= "Italic"}
	bold = {style= "SemiBold"}
	bold_italic = {style= "SemiBold Italic"}
	size = 13
{{- end}}
[general]
import = ["~/.config/alacritty/alacritty_theme_mui_dark.toml"]
